# Environment variables
.env
.env.*.local
.env.local

# ESLint cache
.eslintcache

# IDE files
.idea/
.vscode/
*.iml

# Logs
*.log

# TypeScript build info
*.tsbuildinfo

# Build artifacts
dist/
build/

# Dependencies
node_modules/
package-lock.json